<div class="<%= ADDMODS('c-component-repeat', {}) %>">

    <h1 class="c-component-repeat__name">
        <%= name %>
    </h1>

    <% for(var i = 0; i < subcomponents.length; ++i) { %>
        <%= JST["kitchen-sink/linking/subcomponent"]({text: subcomponents[i].text}) %>
    <% } %>

</div>