node_modules
.DS_Store
.jekyll-cache
_site
*.gem
generator-plugins/jekyll/cloudcannon-jekyll-bookshop/spec/destination
generator-plugins/jekyll/jekyll-bookshop/spec/destination
*.tgz
package/
yarn-error.log
vendored-pluralize.js
javascript-modules/live/.test/manual/index.js
javascript-modules/browser/.test/manual/index.js
package-lock.json