node_modules
.DS_Store
.jekyll-cache
_site
*.gem
Gemfile.lock
generator-plugins/jekyll/jekyll-bookshop/spec/destination
*.tgz
package/
yarn-error.log
vendored-pluralize.js
javascript-modules/live/.test/manual/index.js
javascript-modules/browser/.test/manual/index.js
package-lock.json
**/.yarn/*
!**/.yarn/patches
!**/.yarn/releases
!**/.yarn/plugins
!**/.yarn/sdks
!**/.yarn/versions
.pnp.*
.nyc_output
coverage
**/bookshop-test-dir/*
javascript-modules/integration-tests/support/starters/jekyll/*.lock
javascript-modules/integration-tests/.bookshop-tmp-test-dir/*
hugo_renderer.wasm
hugo_renderer.wasm.gz
.env
RELEASE.md
engine__test__.js
