node_modules
.DS_Store
.jekyll-cache
_site
*.gem
generator-plugins/jekyll/cloudcannon-jekyll-bookshop/spec/destination
generator-plugins/jekyll/jekyll-bookshop/spec/destination
*.tgz
package/
yarn-error.log
vendored-pluralize.js
javascript-modules/live/.test/manual/index.js
javascript-modules/browser/.test/manual/index.js
package-lock.json
**/.yarn/*
!**/.yarn/patches
!**/.yarn/releases
!**/.yarn/plugins
!**/.yarn/sdks
!**/.yarn/versions
.pnp.*
.nyc_output
coverage
**/bookshop-test-dir/*
integration-tests/support/starters/jekyll/*.lock
integration-tests/.bookshop-tmp-test-dir/*