.c-object { $c: &;
    font-family: sans-serif;
    padding: .4rem 1rem .5rem;
    border-left: solid 3px #034AD8;

    &__title {
        margin: 0 0 .3em 0;
    }

    &__author {
        margin: 0;
    }

}