<div class="<%= ADDMODS('c-bem', {big:big, heavy:heavy }) %><%= ADDSTATES({open:open, hidden:hidden }) %>">

    <div class="c-bem__left">
    	Left
    </div>

    <div class="c-bem__right">
    	Right
    </div>

</div>