.c-bem { $c: &;

    &.is-open {
        &::after {
            content: "(I am open)";
        }
    }

    &.is-hidden {
        opacity: 0.2;
    }


    &--big {
        font-size: 30px;
    }

    &--heavy {
        font-weight: bold;
    }


    &__left {

    }

    &__right {

    }

}