<div class="<%= ADDMODS('c-stretcher', {}) %>">

    <div class="c-stretcher__box">
	    <p class="c-stretcher__text">
	    	This uses the <a href="https://npmjs.org/package/stretcher" target="_blank" rel="noreferer nofollow">stretcher package</a>
	    </p>
    </div>

</div>