.c-stretcher { $c: &;
    $stretcher-min: 900px;  // These don't have to be defined in the same file
    $stretcher-max: 1000px;

    &__box {
    	background-color: #eef;
    	width: 100px -> 1000px;
    	border-color: #ccf;
    	border-style: solid;
    	border-width: 100px -> 4px;
    }

    &__text {
    	font-size: 10px -> 50px;
    }

}