<div class="<%= ADDMODS('c-component', {}) %>">

    <h1 class="c-component__name">
        <%= name %>
    </h1>

    <%= JST["kitchen-sink/linking/subcomponent"]({text: "I am a subcomponent"}) %>

</div>