<div class="<%= ADDMODS('c-comments', {}) %>">
    <h1 class="c-comments__title"><%= title %></h1>
    <p class="c-comments__author">By <%= author %></p>
    <ul class="c-comments__tags">
    <% for(var i = 0; i < tags.length; ++i) { %>
        <li class="c-comments__tag"><%= tags[i].tag %></li>
    <% } %>
    </ul>
</div>