.c-comments { $c: &;

    &__title {

    }

    &__author {

    }

    &__tags {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        padding: 0;
    }

    &__tag {
        background-color: #407AFC;
        padding: 0 1em;
        margin: 0 .5em .3em 0;
        height: 24px;
        color: #fff;
        border-radius: 12px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
    }
}