.c-repeat { $c: &;

    &__item {
        margin: .5em 0;
    }

    &__weight {
        height: 18px;
        padding: 0 .5em;
        background-color: #407AFC;
        color: #fff;
        border-radius: 9px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
    }

}