name: Integration

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  integration-test:
    runs-on: ${{ matrix.os }}

    env:
      cwd: ./javascript-modules

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    steps:
      - uses: actions/checkout@v2
      - name: Use Hugo 0.117.0
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: "0.117.0"
          extended: true
      - name: Use Node.js 18.x
        uses: actions/setup-node@v2
        with:
          node-version: 18.x
      # TODO: Remove when possible (https://github.com/actions/setup-node/issues/515)
      - name: Windows Node fix
        if: ${{ matrix.os == 'windows-latest' }}
        run: |
          $WhereNode = Get-Command node | Select-Object -ExpandProperty Definition
          $NodeDirPath = Split-Path $WhereNode -Parent
          cd $NodeDirPath
          npm install npm@8.12.1
      - name: Use Ruby 2.7.x
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7
      - name: Use Go 1.21.x
        uses: actions/setup-go@v2
        with:
          go-version: "^1.21.1"
      - run: yarn install --immutable
        working-directory: ${{ env.cwd }}
      - name: Build Hugo wasm module
        run: go build -tags nodeploy -o hugo_renderer.wasm
        working-directory: ${{ env.cwd }}/engines/hugo-engine/full-hugo-renderer
        env:
          GOOS: js
          GOARCH: wasm
      - name: Gzip Hugo wasm module
        run: gzip --keep hugo_renderer.wasm
        working-directory: ${{ env.cwd }}/engines/hugo-engine/full-hugo-renderer
      - run: yarn run itest-slow
        working-directory: ${{ env.cwd }}/integration-tests
